@page "/summary"
@inject NavigationManager Navigation

<section class="bg-gray-50 dark:bg-gray-900 flex-col">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            Smart Trade
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Confirmación del Pedido
                </h1>
                <div>
                    <p class="text-sm font-medium text-gray-900 dark:text-white"><strong>Calle:</strong> @street</p>
                    <p class="text-sm font-medium text-gray-900 dark:text-white"><strong>Población:</strong> @city</p>
                    <p class="text-sm font-medium text-gray-900 dark:text-white"><strong>Número de Tarjeta:</strong> @cardNumber</p>
                    <p class="text-sm font-medium text-gray-900 dark:text-white"><strong>Fecha de Expiración:</strong> @expirationDate</p>
                    <p class="text-sm font-medium text-gray-900 dark:text-white"><strong>CVV:</strong> @cvv</p>
                </div>
                <button @onclick="GoBack" class="w-full text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-auto sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Volver</button>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter] public string Street { get; set; }
    [Parameter] public string City { get; set; }
    [Parameter] public string CardNumber { get; set; }
    [Parameter] public string ExpirationDate { get; set; }
    [Parameter] public string CVV { get; set; }

    private string street;
    private string city;
    private string cardNumber;
    private string expirationDate;
    private string cvv;

    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        street = query["Street"];
        city = query["City"];
        cardNumber = query["CardNumber"];
        expirationDate = query["ExpirationDate"];
        cvv = query["CVV"];
    }

    private void GoBack()
    {
        Navigation.NavigateTo("");
    }
}